<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>

<body>
    <h1> Your random number is : <%= num %>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea iusto repudiandae veniam alias nostrum harum.
        Reprehenderit unde labore, voluptatum sunt fugiat suscipit consequuntur esse non perspiciatis quo est deleniti
        quod.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae sequi obcaecati architecto est aperiam
        sapiente consequatur, incidunt fugiat beatae nihil ducimus sint voluptatibus vel odio, facilis a esse voluptates
        assumenda?
        Asperiores accusantium repudiandae porro vel error. Ipsum ullam minima soluta, architecto provident tempore,
        assumenda impedit, perferendis dolore explicabo iusto modi. Ut consectetur dignissimos cumque tempora dicta
        delectus ipsum doloremque repellat!</p>
</body>

</html>