<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subreddit</title>
</head>

<body>
    <h1>Browsing the <%= subreddit %> subreddit
    </h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus dolore possimus perspiciatis veritatis
        voluptate! Inventore dolores vel excepturi, officiis iure nesciunt dolorum veritatis eius delectus iste,
        architecto deserunt, laboriosam harum?
        Quae ducimus dolores quisquam nesciunt id asperiores, dignissimos, deleniti reiciendis officiis quis possimus?
        Praesentium mollitia tempore, libero quas error, debitis repellat illum cumque fuga esse corporis? Vel sint nam
        officia!</p>
</body>

</html>