h1 {
    background-color: aqua;
    display: inline;
}

span {
    background-color: rgb(230, 98, 98);
    display: block;
    width: 150px;
    margin: 0 0 100px 0;
}

#one {
    /* margin and padding do not work properly here */
    display: inline;
    margin: 100px;
    padding: 20px;
}

#two {
    /* margin and padding works properly here because inline changed to inline-block */
    display: inline-block;
    margin: 100px;
    padding: 20px;
}



div {
    margin: 0 0 200px 0;
}