<%- include('partials/head') %>

    <%- include('partials/navbar') %>
        <h1>The Home Page <%= 'hello world' .toUpperCase() %>
        </h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat aspernatur dolore quo placeat maiores,
            laboriosam laudantium molestiae nesciunt similique cum sit assumenda obcaecati repellat, nulla
            distinctio,
            tempora fugit! Autem, incidunt.
            Molestias velit delectus amet est alias nihil reiciendis hic autem fugit atque. Atque error, possimus
            laborum
            harum, quisquam nesciunt nulla vel molestias quibusdam officiis totam saepe iusto voluptate perferendis
            neque.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, excepturi alias temporibus nobis cum
            dignissimos aliquid quaerat dolores libero? Similique dolores non et doloremque eos hic nostrum deleniti
            debitis
            nulla.</p>
        <%- include('partials/footer') %>