<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=category %> Products
    </title>
</head>

<body>
    <h1>
        <%=category.toUpperCase() %> Products
    </h1>
    <ul>
        <% for(product of products) {%>
            <a href="/products/<%=product.id %>">
                <li>
                    <%= product.name %>
                </li>
            </a>
            <% } %>
    </ul>
    <a href="/products/new">Add Product</a>
    <% if(category !=='All' ){ %>
        <a href="/products">All Products</a>
        <% } %>
</body>

</html>